<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script>
        layui.config({
            base:'../js/'
        }).use('main');
    </script>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <a href="main.html"><div class="layui-logo">TSS智能管理系统</div></a>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="#">消息<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-username"></i>邓江</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree"  lay-filter="main">
                    <li class="layui-nav-item"><a id="1" href="javascript:;">实时监控</a></li>
                    <li class="layui-nav-item"><a id="2" href="javascript:;">报表查询</a></li>
                    <li class="layui-nav-item"><a id="3" href="javascript:;">员工录入</a></li>
                    <li class="layui-nav-item"><a id="4" href="javascript:;">员工查询</a></li>
                    <li class="layui-nav-item"><a id="5" href="javascript:;">控制中心</a></li>
                </ul>
            </div>
        </div>
        <div id="page" class="layui-body" style="margin: 15px;">

        </div>
    </div>
</body>
</html>