<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时监控</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/realtime.js"></script>
</head>
<body>
<table class="layui-hide" id="realtime"></table>

<script id="sexTpl" type="text/html">
    {{#  if(DateDiff(d.city === null || d.city === "" || d.city, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.city }}</span>
    {{#  } else if(DateDiff(d.city, getNowFormatDate()) >= 0 && DateDiff(d.city, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.city }}</span>
    {{#  } else if(DateDiff(d.city, getNowFormatDate()) > 30 && DateDiff(d.city, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.city }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.city }}</span>
    {{#  } }}
</script>
<script id="sexTpl1" type="text/html">
    {{#  if(d.experience === null || d.experience === "" || DateDiff(d.experience, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.experience }}</span>
    {{#  } else if(DateDiff(d.experience, getNowFormatDate()) >= 0 && DateDiff(d.experience, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.experience }}</span>
    {{#  } else if(DateDiff(d.experience, getNowFormatDate()) > 30 && DateDiff(d.experience, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.experience }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.experience }}</span>
    {{#  } }}
</script>
<script id="sexTpl2" type="text/html">
    {{#  if(DateDiff(d.score, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.score }}</span>
    {{#  } else if(DateDiff(d.score, getNowFormatDate()) >= 0 && DateDiff(d.score, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.score }}</span>
    {{#  } else if(DateDiff(d.score, getNowFormatDate()) > 30 && DateDiff(d.score, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.score }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.score }}</span>
    {{#  } }}
</script>
</body>
</html>