<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时监控</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/realtime.js"></script>
</head>
<body>
<table class="layui-hide" id="realtime"></table>
<script id="Licel" type="text/html">
    {{#  if(d.lc1 === null || d.lc1 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.lc1 }}</span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) >= 0 && DateDiff(d.lc1, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.lc1 }}</span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) > 30 && DateDiff(d.lc1, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.lc1 }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.lc1 }}</span>
    {{#  } }}
</script>
<script id="Lice2" type="text/html">
    {{#  if(d.lc2 === null || d.lc2 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.lc2 }}</span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) >= 0 && DateDiff(d.lc2, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.lc2 }}</span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) > 30 && DateDiff(d.lc2, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.lc2 }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.lc2 }}</span>
    {{#  } }}
</script>
<script id="Lice3" type="text/html">
    {{#  if(d.lc3 === null || d.lc3 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) < 0){ }}
    <span style="background-color: #FF0000;">{{ d.lc3 }}</span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) >= 0 && DateDiff(d.lc3, getNowFormatDate()) <= 30){ }}
    <span style="background-color: #FF9900;">{{ d.lc3 }}</span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) > 30 && DateDiff(d.lc3, getNowFormatDate()) <= 90){ }}
    <span style="background-color: #FFFF00;">{{ d.lc3 }}</span>
    {{#  } else { }}
    <span style="background-color: #00FF00;">{{ d.lc3 }}</span>
    {{#  } }}
</script>
</body>
</html>