<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记录查询</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/record.js"></script>
</head>
<body>
<table class="layui-hide" id="records"></table>

<script id="toolbar" type="text/html">
            <div class="layui-inline">
                <label>日期范围：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="daterange" type="text" placeholder=" - ">
                </div>
                <label>员工编号：</label>
                <div class="layui-input-inline">
                    <input id="wid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                </div>
                <div class="layui-input-inline">
                    <button id="Query" class="layui-btn layui-btn-fluid" type="button">查询</button>
                </div>
            </div>
</script>

<script id="sexTp1" type="text/html">
    {{#  if(DateDiff(d.city, getNowFormatDate()) < 0){ }}
    <span>{{ d.city + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.city, getNowFormatDate()) >= 0 && DateDiff(d.city, getNowFormatDate()) <= 30){ }}
    <span>{{ d.city + '**' }}</span>
    {{#  } else if(DateDiff(d.city, getNowFormatDate()) > 30 && DateDiff(d.city, getNowFormatDate()) <= 90){ }}
    <span>{{ d.city + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.city }}</span>
    {{#  } }}
</script>
<script id="sexTp2" type="text/html">
    {{#  if(DateDiff(d.experience, getNowFormatDate()) < 0){ }}
    <span>{{ d.experience + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.experience, getNowFormatDate()) >= 0 && DateDiff(d.experience, getNowFormatDate()) <= 30){ }}
    <span>{{ d.experience + '**' }}</span>
    {{#  } else if(DateDiff(d.experience, getNowFormatDate()) > 30 && DateDiff(d.experience, getNowFormatDate()) <= 90){ }}
    <span>{{ d.experience + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.experience }}</span>
    {{#  } }}
</script>
<script id="sexTp3" type="text/html">
    {{#  if(DateDiff(d.score, getNowFormatDate()) < 0){ }}
    <span>{{ d.score + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.score, getNowFormatDate()) >= 0 && DateDiff(d.score, getNowFormatDate()) <= 30){ }}
    <span>{{ d.score + '**' }}</span>
    {{#  } else if(DateDiff(d.score, getNowFormatDate()) > 30 && DateDiff(d.score, getNowFormatDate()) <= 90){ }}
    <span>{{ d.score + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.score }}</span>
    {{#  } }}
</script>

</body>
</html>