<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记录查询</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/record.js"></script>
</head>
<body>
<table class="layui-hide" id="records"></table>

<script id="toolbar" type="text/html">
            <div class="layui-inline">
                <label>日期范围：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="startdate" type="text">
                </div>
                <label>至</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="enddate" type="text">
                </div>
                <label>员工编号：</label>
                <div class="layui-input-inline">
                    <input id="wid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                </div>
                <div class="layui-input-inline">
                    <button id="Query" class="layui-btn layui-btn-fluid" type="button">查询</button>
                </div>
            </div>
</script>

<script id="Lice1" type="text/html">
    {{#  if(d.lc1 === null || d.lc1 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) < 0){ }}
    <span>{{ d.lc1 + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) >= 0 && DateDiff(d.lc1, getNowFormatDate()) <= 30){ }}
    <span>{{ d.lc1 + '**' }}</span>
    {{#  } else if(DateDiff(d.lc1, getNowFormatDate()) > 30 && DateDiff(d.lc1, getNowFormatDate()) <= 90){ }}
    <span>{{ d.lc1 + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.lc1 }}</span>
    {{#  } }}
</script>
<script id="Lice2" type="text/html">
    {{#  if(d.lc2 === null || d.lc2 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) < 0){ }}
    <span>{{ d.lc2 + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) >= 0 && DateDiff(d.lc2, getNowFormatDate()) <= 30){ }}
    <span>{{ d.lc2 + '**' }}</span>
    {{#  } else if(DateDiff(d.lc2, getNowFormatDate()) > 30 && DateDiff(d.lc2, getNowFormatDate()) <= 90){ }}
    <span>{{ d.lc2 + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.lc2 }}</span>
    {{#  } }}
</script>
<script id="Lice3" type="text/html">
    {{#  if(d.lc3 === null || d.lc3 === ""){ }}
    <span></span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) < 0){ }}
    <span>{{ d.lc3 + 'ｘ' }}</span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) >= 0 && DateDiff(d.lc3, getNowFormatDate()) <= 30){ }}
    <span>{{ d.lc3 + '**' }}</span>
    {{#  } else if(DateDiff(d.lc3, getNowFormatDate()) > 30 && DateDiff(d.lc3, getNowFormatDate()) <= 90){ }}
    <span>{{ d.lc3 + '*' }}</span>
    {{#  } else { }}
    <span>{{ d.lc3 }}</span>
    {{#  } }}
</script>

</body>
</html>