<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新员工信息</title>
    <link rel="stylesheet" href="../css/tss.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script>
        layui.config({
            base:'../js/'
        }).use('user');
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin webhead">
    <div class="layui-header">
        <a href="main.html"><div class="layui-logo">TSS智能管理系统</div></a>
    </div>
</div>
<div class="webui-tab">
    <div class="layui-tab layui-tab-card" style="background-color: #ffffff">
        <ul class="layui-tab-title">
            <li class="layui-this"><a>修改员工信息</a></li>
        </ul>
        <div class="product-creat">
            <div class="layui-card">
                <div class="layui-card-header">人员信息</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">许可证信息</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">标签信息</div>
                <div class="layui-card-body">
                    卡片式面板面板通常用于非白色背景色的主体内<br>
                    从而映衬出边框投影
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>