<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加员工</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="../css/tss.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/wkadd.js"></script>
</head>
<body>
    <div class="layui-tab layui-tab-card" style="background-color: #ffffff">
        <ul class="layui-tab-title">
            <li class="layui-this"><a>添加员工信息</a></li>
        </ul>
        <div class="product-creat">
            <div class="layui-card">
                <div class="layui-card-header">人员信息</div>
                <div class="layui-card-body">
                    <form class="layui-from">
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">员工编号：</label>
                                <div class="layui-input-inline">
                                    <input id="WID" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">中文名：</label>
                                <div class="layui-input-inline">
                                    <input id="ChName" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">英文姓：</label>
                                <div class="layui-input-inline">
                                    <input id="SurName" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">英文名：</label>
                                <div class="layui-input-inline">
                                    <input id="ENName" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">厂证：</label>
                                <div class="layui-input-inline">
                                    <input id="WKCard" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">CCRSID：</label>
                                <div class="layui-input-inline">
                                    <input id="CCRSID" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">其它：</label>
                                <div class="layui-input-inline">
                                    <input id="WKOther" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"></label>
                                <div class="layui-input-inline">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">许可证信息</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">许可证：</label>
                                <div class="layui-input-inline">
                                    <select id="LCName1" lay-filter="LCName1" lay-verify="required">
                                        <option value="绿卡" selected>绿卡</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">过期日期：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="OutDate1" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">许可证：</label>
                                <div class="layui-input-inline">
                                    <select id="LCName2" lay-filter="LCName2" lay-verify="required">
                                        <option value="密卡" selected>密卡</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">过期日期：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="OutDate2" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">许可证：</label>
                                <div class="layui-input-inline">
                                    <select id="LCName3" lay-filter="LCName3" lay-verify="required">
                                        <option value="CP" selected>CP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">过期日期：</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" id="OutDate3" type="text" placeholder="yyyy-mm-dd">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">标签信息</div>
                <div class="layui-card-body">
                    <form class="layui-form">
                        <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                            <div class="layui-inline">
                                <label class="layui-form-label">标签名称：</label>
                                <div class="layui-input-inline">
                                    <select id="TagName1" lay-filter="LCName3" lay-verify="required">
                                        <option value="挂牌" selected>挂牌</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">标签编码：</label>
                                <div class="layui-input-inline">
                                    <input id="TID1" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <form class="layui-form">
                <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button id="WKAdd" class="layui-btn layui-btn-fluid" type="button">添加</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>