<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工详细信息</title>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" href="/static/css/tss.min.css">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/wkdetail.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="/static/view/main.html"><div class="layui-logo">TSS智能管理系统</div></a>
    </div>
</div>
<div class="layui-tab layui-tab-card" style="background-color: #ffffff">
    <ul class="layui-tab-title">
        <li class="layui-this"><a>员工详细信息</a></li>
    </ul>
    <div class="product-creat">
        <div class="layui-card">
            <div class="layui-card-header">人员信息</div>
            <div class="layui-card-body">
                <div class="layui-row">
                    <div class="layui-col-xs10">
                        <form class="layui-from">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">员工编号：</label>
                                    <div class="layui-input-inline">
                                        <input id="wid" class="layui-input" type="text" autocomplete="off" disabled>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">中文名：</label>
                                    <div class="layui-input-inline">
                                        <input id="chname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">英文姓：</label>
                                    <div class="layui-input-inline">
                                        <input id="surname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">英文名：</label>
                                    <div class="layui-input-inline">
                                        <input id="enname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">厂证：</label>
                                    <div class="layui-input-inline">
                                        <input id="wkcard" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">CCRSID：</label>
                                    <div class="layui-input-inline">
                                        <input id="ccrsid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">其它：</label>
                                    <div class="layui-input-inline">
                                        <input id="other" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="layui-col-xs2">
                        <form class="layui-form">
                            <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                                <div class="layui-inline">
                                    <img src="../image/000.png">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">许可证信息</div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">许可证：</label>
                            <div class="layui-input-inline">
                                <select id="lcname1" lay-filter="lcname1" lay-verify="required">
                                    <option value="">绿卡</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">过期日期：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="outdate1" type="text" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">许可证：</label>
                            <div class="layui-input-inline">
                                <select id="lcname2" lay-filter="lcname2" lay-verify="required">
                                    <option value="">密卡</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">过期日期：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="outdate2" type="text" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">许可证：</label>
                            <div class="layui-input-inline">
                                <select id="lcname3" lay-filter="lcname3" lay-verify="required">
                                    <option value="">CP</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">过期日期：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" id="outdate3" type="text" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-card-header">标签信息</div>
            <div class="layui-card-body">
                <form class="layui-form">
                    <div class="layui-form-item" style="text-align: center; margin-top: 20px;">
                        <div class="layui-inline">
                            <label class="layui-form-label">标签名称：</label>
                            <div class="layui-input-inline">
                                <select id="tagname1" lay-filter="tagame1" lay-verify="required">
                                    <option value="">挂牌</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">标签编码：</label>
                            <div class="layui-input-inline">
                                <input id="tid1" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>