<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新员工信息</title>
    <link rel="stylesheet" href="../css/tss.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script>
        layui.config({
            base:'../js/'
        }).use('user');
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin webhead">
    <div class="layui-header">
        <a href="main.html"><div class="layui-logo">TSS智能管理系统</div></a>
    </div>
</div>
<div class="webui-tab">
    <div class="layui-tab layui-tab-card" style="background-color: #ffffff">
        <ul class="layui-tab-title">
            <li class="layui-this"><a>修改员工信息</a></li>
        </ul>
        <div class="product-creat">
            <div class="layui-card">
                <div class="layui-card-header">人员信息</div>
                <div class="layui-card-body">
                    <div class="layui-inline">
                        <label class="layui-form-label">员工编号：</label>
                        <div class="layui-input-inline">
                            <input id="wid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">英文姓：</label>
                        <div class="layui-input-inline">
                            <input id="surname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">英文名：</label>
                        <div class="layui-input-inline">
                            <input id="enname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">中文名：</label>
                        <div class="layui-input-inline">
                            <input id="chname" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">厂证：</label>
                        <div class="layui-input-inline">
                            <input id="wkcard" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">CCRSID：</label>
                        <div class="layui-input-inline">
                            <input id="ccrsid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">其它：</label>
                        <div class="layui-input-inline">
                            <input id="other" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <img src="../image/000.png">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn">上传头像</button>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">许可证信息</div>
                <div class="layui-card-body">
                    <div class="layui-inline">
                        <label class="layui-form-label">许可证名称：绿卡</label>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">过期日期：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="LID1" type="text" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                    <br/>
                    <div class="layui-inline">
                        <label class="layui-form-label">许可证名称：密卡</label>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">过期日期：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="LID2" type="text" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                    <br/>
                    <div class="layui-inline">
                        <label class="layui-form-label">许可证名称：CP</label>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">过期日期：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" id="LID3" type="text" placeholder="yyyy-MM-dd">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">标签信息</div>
                <div class="layui-card-body">
                    <div class="layui-inline">
                        <label class="layui-form-label">标签名称：挂牌</label>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">标签编码：</label>
                        <div class="layui-input-inline">
                            <input id="tid" class="layui-input" type="text" autocomplete="off" required lay-verify="required">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-fluid" lay-filter="registerbtn" lay-submit>保存</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>